.navbar-nav {
    font-family: "Major Mono Display", monospace !important;
    display: flex;
}

.navbar-nav * {
    font-size: small;
    padding-right: 4%;
}

.navbar {
    background-color: rgb(17, 16, 16);
}

body{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
